*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(255, 253, 253), rgb(235, 233, 233));
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  font-size: 12px;
}

header {
  height: 70vh;
  background: url("../images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* object-fit: cover; */
  border-bottom-left-radius: 5rem;
}

.navbar-brand {
  color: #fff;
}

#navbarDropdown {
  color: #fff;
  font-size: 0.7rem;
}

.btn-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.7rem;
}

main {
  text-align: center;
  margin: 3rem;
  color: hsl(0, 0%, 100%);
}

main h1 {
  font-size: 2rem;
  font-weight: 600;
}

main p {
  font-size: 13px;
}

.btn {
  color: hsl(356, 100%, 66%);
  font-weight: 600;
}
.btn-outline {
  border: 1px solid #fff;
  margin-left: 2rem;
  color: #fff;
}

/* EDITOR SECTION */
.image__container {
  bottom: 100px;
  left: 110px;
  width: 700px;
}

.image__container img {
  width: 100%;
}

/* ART__DESCRIPTION */

#art__description {
  width: 100%;
  margin-top: 4rem;
  height: 54vh;
  background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.description {
  margin-left: 8rem !important;
  word-spacing: 0.2rem;
}

.phone__illustration {
  margin-top: -4rem;
  margin-left: 8rem;
}

.art__inner__div {
  width: 70%;
  padding: 3rem;
}

/* LAPTOP SECTION */
#laptop {
  margin-top: 5rem;
}
.laptop__container {
  right: 70%;
  width: 990px;
}

.laptop__container img {
  width: 100%;
}

.laptop__description {
  margin-top: 7rem;
  line-height: 1.8rem;
}

/* FOOTER  */

footer {
  width: 100%;
  margin-top: 9rem;
  height: 48vh;
  background: hsl(240, 10%, 16%);
  border-top-right-radius: 5rem;
}
